
h1{
    font-size: 65px;
    height:80px;
    background-color:#0F7CA3;
    color:#FFFFFF;
    text-align: center;
}

p{
    height:210px;
    background-color:#5C18A3;
    color:#FFFFFF;
    font-size: 60px;
    text-align: center;
}
